.card-1 {
  border-top: 5px solid #ff4f64;
  background-color: #ffffff;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  background-color: #ffffff;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  background-color: #ffffff;
}

.card-4 {
  border-top: 5px solid #fcc200;
  background-color: #ffffff;
}

/* Write CSS code here. */
.role {
  color: #171f46;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: small;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: smaller;
}

.avatar {
  width: 60px;
  height: 60px;
  align-self: flex-end;
}
